
@{
    ViewBag.Title = "How To";
}

<div class="row">
    <div class="col-xs-12">
        <h2>How to Enter Tournament Data</h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-xs-12"><h4>Step 1: Navigate to Tournaments Page</h4></div>
    <div class="col-xs-12 col-sm-6">
        <p>
            Determine whether the tournament being created is for the main (Relentless Ones) or the feeder (Relentless Ones 0.5), and 
            select the Tournaments menu option.
        </p>
    </div>
    <div class="col-xs-12 col-sm-6">
        <img class="img-responsive" src="~/Images/menu.jpg"/>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-xs-12"><h4>Step 2: Enter the Opponent's Name</h4></div>
    <div class="col-xs-12 col-sm-6">
        On the Create Tournament page, enter the name of the new opponent.  The League selection will be defaulted to the appropriate 
        league.  Click the Create button to create the new tournament, or Back to List to cancel.
    </div>
    <div class="col-xs-12 col-sm-6">
        <img class="img-responsive" src="~/Images/opponent_name.jpg"/>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-xs-12"><h4>Step 3: Create Player Scores</h4></div>
    <div class="col-xs-12 col-sm-6">
        After entering a new tounament, you'll be redirected to the tournament list.  The most recent will appear at the top.  To 
        begin entering player scores, select the button Add Scores.
    </div>
    <div class="col-xs-12 col-sm-6">
        <img class="img-responsive" src="~/Images/add_scores.jpg"/>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-xs-12"><h4>Step 4: Enter Player Scores</h4></div>
    <div class="col-xs-12 col-sm-6">
        <p>
            <b>It's important to note that the order of which the players are entered are the order of which they will appear.</b>
            Because of this, It's wise to enter the players in the order they are listed in the tournament, and not necessarily their
            order in the Player Name dropdown.  To further simplify things, you can enter every player for the tournament leaving the Points 
            For and Points Against blank.  This will create the player list in order and allow for easy score updating later.
        </p>
        
        <p>That being said, the Tournament Name and League will be populated by default, and don't need to be changed.</p>
        <p>
            Use the Player Name dropdown to select the player you want.
        </p>
        <p>
            <b>Optional:</b> enter the points scored.  Leaving the field blank signifies that the player hasn't scored any points.
        </p>
        <p>
            <b>Optional:</b> enter the points against.  Leaving the field blank signifies that the player hasn't been scored on.
        </p>
        <p>
            Click Create to add the player record.
        </p>
    </div>
    <div class="col-xs-12 col-sm-6">
        <img class="img-responsive" src="~/Images/add_player.jpg"/>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-xs-12"><h4>Step 5: Edit Player Scores</h4></div>
    <div class="col-xs-12 col-sm-6">
        <p>
            Whether you've added all the players first and editting scores later, or updating a score mid tourney, this process is the same.
        </p>
        <p>
            Select the Edit button that corrosponds to the player record.
        </p>
    </div>
    <div class="col-xs-12 col-sm-6">
        <img class="img-responsive" src="~/Images/edit_score.jpg"/>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-xs-12"><h4>Step 6: Enter Player Scores</h4></div>
    <div class="col-xs-12 col-sm-6">
        <p>
            Enter the points scored into the Points For textbox.
        </p>
        <p>
            Enter the points scored against into the Points Against textbox.
        </p>
        <p>
            Click Save to update the score
        </p>
        <p>
            <b>IMPORTANT:  take note of any defensive touchdowns against our player.  These MUST be added to the Points Against field in order for the 
            tournament sum to calculate correctly.</b>
        </p>
    </div>
    <div class="col-xs-12 col-sm-6">
        <img class="img-responsive" src="~/Images/edit_score2.jpg"/>
    </div>
</div>
